.trigger {
  position: relative;
  display: inline-block;
  color: hsl(245deg 100% 50%);
  font-weight: bold;
  border: none;
  background: transparent;
  padding: 0px 2px;
}
.content {
  padding: 12px 18px;
  border-radius: 6px;
  background-color: hsl(245deg 100% 60%);
  color: white;
  font-size: 0.875rem;
  text-align: center;
  filter: drop-shadow(0px 4px 8px hsl(245deg 100% 40% / 0.2));
}

.content svg {
  display: block;
  transform: scale(1.1);
  fill: hsl(245deg 100% 60%);
}
/*
  Increase the size of the trigger target,
  to make it easier to trigger the tooltip.
*/
.trigger::after {
  content: '';
  position: absolute;
  inset: -8px;
}
